# =========================
# APP CONFIG
# =========================
APP_NAME="ROWS"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:3000

# =========================
# DATABASE (MySQL)
# =========================
DB_CONNECTION=mysql
DB_HOST="firmware-db"
DB_PORT=3306
DB_DATABASE="firmware_db"
DB_CHARSET=utf8mb4
DB_USERNAME="firmware_db"
DB_PASSWORD=secret
DB_ROOT_PASSWORD=root

# =========================
# REDIS
# =========================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=null

# =========================
# LOGGING
# =========================
LOG_LEVEL=debug
