RewriteEngine 	On

# 	Update

RewriteCond		%{REQUEST_METHOD} 	^GET$
RewriteRule		^device/getActiveStudentCode$ 	  	 	 	 	index.php?controller=Device&action=GetActiveStudentCode 	 	  	 	 	 	 	  	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^GET$
RewriteRule		^device/getMyClasses$ 	  	 	 	 	 	 	index.php?controller=Device&action=GetMyClasses 	 	  	 	 	     	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^device/finishTask$	 	 	 	 	 	 	    index.php?controller=Device&action=FinishTask          	 	 	 	 	 	 	 	 	 	[L]

#   Hiçbiri Çalışmadıysa 404 Error Page
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /404.php [QSA,L]
