RewriteEngine 	On

# 	Update

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^update/getLatestVersion$ 	  	 	 	 	 	 	index.php?controller=Update&action=GetLatestVersion 	 	  	 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^update/download$	 	 	 	 	 	 	        index.php?controller=Update&action=Download          	 	 	 	 	 	 	 	 	 	[L]

#   Hiçbiri Çalışmadıysa 404 Error Page
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /404.php [QSA,L]
