[ req ]
default_md          = sha256
distinguished_name  = dn
x509_extensions     = v3_req
prompt              = no

[ dn ]
CN = ota.rows.local

[ v3_req ]
subjectAltName = @alt_names
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[ alt_names ]
DNS.1 = ota.rows.local
IP.1 = 192.168.1.10
