RewriteEngine 	On

# 	Auth

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^auth/register/parent$ 	  	 	 	 	 	 	index.php?controller=Auth&action=RegisterParent 	 	  	 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^auth/register/teacher$	 	 	 	 	 	 	index.php?controller=Auth&action=RegisterTeacher 	 	 	 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^auth/login$ 	 	 	 	 	 	 	 	 	index.php?controller=Auth&action=Login 	 	 	 	 	 	 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^auth/logout$ 	 	 	 	 	 	 	 	 	index.php?controller=Auth&action=Logout 	 	 	 	 	 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^auth/token$ 	 	 	 	 	 	 	 	 	index.php?controller=Auth&action=CheckToken 	 	 	 	 	 	 	 	 	 	 	 [L]

# 	Device 	

RewriteCond		%{REQUEST_METHOD} 	^GET$
RewriteRule		^devices/me$ 	 	 	 	 	 	 	 	 	index.php?controller=Device&action=GetMe 	 	 			 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^PUT$
RewriteRule		^devices/me$ 	 	 	 	 	 	 	 	 	index.php?controller=Device&action=ChangeMe 	 	 	 	 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^devices/change-password$ 	 	 	 	 	 	index.php?controller=Device&action=ChangeMyPassword 	 	 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^POST$ 	
RewriteRule		^devices/active-student$ 	 	 	 	 	 	index.php?controller=Device&action=ChangeMyActiveStudent 	 	 	 	 	 	 	 	[L]

# 	Other 	Device

RewriteCond		%{REQUEST_METHOD} 	^GET$
RewriteRule		^devices/([0-9a-z]+)/me$ 	 	 	 	 	 	index.php?controller=Device&action=GetDevice&parameters[]=$1 	  	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^PUT$
RewriteRule		^devices/([0-9a-z]+)/me$ 	 	 	 	 	 	index.php?controller=Device&action=ChangeDevice&parameters[]=$1 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^devices/([0-9a-z]+)/change-password$ 	 	 	index.php?controller=Device&action=ChangePassword&parameters[]=$1 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^devices/([0-9a-z]+)/active-students$ 	 	 	index.php?controller=Device&action=ChangeActiveStudent&parameters[]=$1 	  	 	 	 	[L]

# 	Parent

RewriteCond		%{REQUEST_METHOD} 	^GET$
RewriteRule		^parents/me$ 	 	 	 	 	 	 	 	 	index.php?controller=Parent&action=GetMe 	 	 			 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^PUT$
RewriteRule		^parents/me$ 	 	 	 	 	 	 	 	 	index.php?controller=Parent&action=ChangeMe 	 	  	 	 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^DELETE$
RewriteRule		^parents/me$ 	 	 	 	 	 	 	 	 	index.php?controller=Parent&action=DeleteMe	 	 	 	 	 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^parents/change-password$ 	 	 	 	 	 	index.php?controller=Parent&action=ChangeMyPassword 	 	 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^GET$ 	
RewriteRule		^parents/students$ 	 	 	 		 		 	index.php?controller=Parent&action=GetMyStudents		 	 	 	 	 	 	 		[L,QSA]

RewriteCond		%{REQUEST_METHOD} 	^POST$ 	
RewriteRule		^parents/students$ 	 	 	 	 		 		index.php?controller=Parent&action=AddMyStudents		 	 	 	 	 	 	 	 	[L]

#	Other Parent

RewriteCond		%{REQUEST_METHOD} 	^GET$
RewriteRule		^parents/([0-9a-z]+)/me$ 	 	 	 	 	 	index.php?controller=Parent&action=GetParent&parameters[]=$1 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^PUT$
RewriteRule		^parents/([0-9a-z]+)/me$ 	 	 	 	 	 	index.php?controller=Parent&action=ChangeParent&parameters[]=$1		 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^DELETE$
RewriteRule		^parents/([0-9a-z]+)/me$ 	 	 	 	 	 	index.php?controller=Parent&action=DeleteParent&parameters[]=$1		 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^parents/([0-9a-z]+)/change-password$ 	 	 	index.php?controller=Parent&action=ChangePassword&parameters[]=$1		 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^GET$ 	
RewriteRule		^parents/([0-9a-z]+)/students$ 	 	 		 	index.php?controller=Parent&action=GetStudents&parameters[]=$1	 	 	 	 	 	 	[L,QSA]

RewriteCond		%{REQUEST_METHOD} 	^POST$ 	
RewriteRule		^parents/([0-9a-z]+)/students$ 	 	 	 		index.php?controller=Parent&action=AddStudents&parameters[]=$1		 	 	 	 	 	[L]

# 	Student

RewriteCond		%{REQUEST_METHOD} 	^GET$
RewriteRule		^students/me$ 	 	 	 	 	 	 	 	 	index.php?controller=Student&action=GetMe 	 	 			 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^PUT$
RewriteRule		^students/me$ 	 	 	 	 	 	 	 	 	index.php?controller=Student&action=ChangeMe 	 	 	 	 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^DELETE$
RewriteRule		^students/me$ 	 	 	 	 	 	 	 	 	index.php?controller=Student&action=DeleteMe	 	 	 	 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^students/change-password$ 	 	 	 	 	 	index.php?controller=Student&action=ChangeMyPassword 	 	 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^GET$
RewriteRule		^students/classes$	 	 	 	 		 	 	index.php?controller=Student&action=GetMyClasses		 	 	 	 	 	 	 		[L,QSA]

#	Other Student

RewriteCond		%{REQUEST_METHOD} 	^GET$
RewriteRule		^students/([0-9a-z]+)/me$ 	 	 	 	 	 	index.php?controller=Student&action=GetStudent&parameters[]=$1 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^PUT$
RewriteRule		^students/([0-9a-z]+)/me$ 	 	 	 	 	 	index.php?controller=Student&action=ChangeStudent&parameters[]=$1		 	 	  	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^DELETE$
RewriteRule		^students/([0-9a-z]+)/me$ 	 	 	 	 	 	index.php?controller=Student&action=DeleteStudent&parameters[]=$1		  	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^students/([0-9a-z]+)/change-password$ 	 	 	index.php?controller=Student&action=ChangePassword&parameters[]=$1	 	 		 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^GET$ 	
RewriteRule		^students/([0-9a-z]+)/classes$ 	 		 	 	index.php?controller=Student&action=GetClasses&parameters[]=$1	 	 	 	 	 	 	[L,QSA]

# 	Teacher

RewriteCond		%{REQUEST_METHOD} 	^GET$
RewriteRule		^teachers/me$ 	 	 	 	 	 	 	 	 	index.php?controller=Teacher&action=GetMe 	 	 			 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^PUT$
RewriteRule		^teachers/me$ 	 	 	 	 	 	 	 	 	index.php?controller=Teacher&action=ChangeMe 	 	  	 	 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^DELETE$
RewriteRule		^teachers/me$ 	 	 	 	 	 	 	 	 	index.php?controller=Teacher&action=DeleteMe	 	 	 	 	 	 	 	 	  	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^teachers/change-password$ 	 	 	 	 	 	index.php?controller=Teacher&action=ChangeMyPassword 	 	 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^GET$ 	
RewriteRule		^teachers/classes$ 	 	 	 		 		 	index.php?controller=Teacher&action=GetMyClasses		 	 	 	 	 	 	 		[L,QSA]

RewriteCond		%{REQUEST_METHOD} 	^POST$ 	
RewriteRule		^teachers/classes$ 	 	 	 	 		 		index.php?controller=Teacher&action=AddMyClasses		 	 	 	 	 	 	 	 	[L]

#	Other Teacher

RewriteCond		%{REQUEST_METHOD} 	^GET$
RewriteRule		^teachers/([0-9a-z]+)/me$ 	 	 	 	 	 	index.php?controller=Teacher&action=GetTeacher&parameters[]=$1 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^PUT$
RewriteRule		^teachers/([0-9a-z]+)/me$ 	 	 	 	 	 	index.php?controller=Teacher&action=ChangeTeacher&parameters[]=$1		 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^DELETE$
RewriteRule		^teachers/([0-9a-z]+)/me$ 	 	 	 	 	 	index.php?controller=Teacher&action=DeleteTeacher&parameters[]=$1		 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^teachers/([0-9a-z]+)/change-password$ 	 	 	index.php?controller=Teacher&action=ChangePassword&parameters[]=$1		 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^GET$ 	
RewriteRule		^teachers/([0-9a-z]+)/classes$ 	 	 		 	index.php?controller=Teacher&action=GetClasses&parameters[]=$1	 	 	 	 	 	 	[L,QSA]

RewriteCond		%{REQUEST_METHOD} 	^POST$ 	
RewriteRule		^teachers/([0-9a-z]+)/classes$ 	 	 	 		index.php?controller=Teacher&action=AddClasses&parameters[]=$1		 	 	 	 	 	[L]

#	Class

RewriteCond		%{REQUEST_METHOD} 	^GET$
RewriteRule		^classes/([0-9a-z]+)$ 	 	 	 	 	 		index.php?controller=Class&action=Index&parameters[]=$1			 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^PUT$
RewriteRule		^classes/([0-9a-z]+)$ 	 	 	 	 	 		index.php?controller=Class&action=ChangeInfo&parameters[]=$1	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^DELETE$
RewriteRule		^classes/([0-9a-z]+)$ 	 	 	 	 	 		index.php?controller=Class&action=Delete&parameters[]=$1		 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^classes/([0-9a-z]+)/join$ 	 	 	  	 		index.php?controller=Class&action=Join&parameters[]=$1			 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^classes/([0-9a-z]+)/leave$ 	 	 	  	 	index.php?controller=Class&action=Leave&parameters[]=$1		 	 		 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^GET$
RewriteRule		^classes/([0-9a-z]+)/students$ 	 	 	  	 	index.php?controller=Class&action=GetStudents&parameters[]=$1			 	 	 	  	[L,QSA]

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^classes/([0-9a-z]+)/students$ 	 	 	  	 	index.php?controller=Class&action=AddStudent&parameters[]=$1			 	 	 	  	[L]

RewriteCond		%{REQUEST_METHOD} 	^DELETE$
RewriteRule		^classes/([0-9a-z]+)/students/([0-9a-z]+)$ 	 	index.php?controller=Class&action=RemoveStudent&parameters[]=$1&parameters[]=$2	 	  	[L]

RewriteCond		%{REQUEST_METHOD} 	^GET$
RewriteRule		^classes/([0-9a-z]+)/leaderboard$ 	 	  	 	index.php?controller=Class&action=GetLeaderboard&parameters[]=$1			 	 	  	[L,QSA]

RewriteCond		%{REQUEST_METHOD} 	^GET$
RewriteRule		^classes/([0-9a-z]+)/tasklists$ 	 	  	 	index.php?controller=Class&action=GetTasklists&parameters[]=$1			 	 	 	  	[L,QSA]

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^classes/([0-9a-z]+)/tasklists$ 	 	  	 	index.php?controller=Class&action=CreateTasklist&parameters[]=$1			 	 	 	[L]

#	Task

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^tasks$ 		 	 	 	 	 	 	 	 	index.php?controller=Task&action=Create 	 	 	 	 	 	 	 	 	 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^GET$
RewriteRule		^tasks/([0-9a-z]+)$ 	 	 			 	 	index.php?controller=Task&action=GetTask&parameters[]=$1					 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^PUT$
RewriteRule		^tasks/([0-9a-z]+)$ 	 	 			 	 	index.php?controller=Task&action=ChangeTask&parameters[]=$1					 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^DELETE$
RewriteRule		^tasks/([0-9a-z]+)$ 	 	 			 	 	index.php?controller=Task&action=DeleteTask&parameters[]=$1					 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^tasks/([0-9a-z]+)/like$ 	 	 			 	index.php?controller=Task&action=LikeTask&parameters[]=$1					 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^POST$
RewriteRule		^tasks/([0-9a-z]+)/unlike$ 	 	 			 	index.php?controller=Task&action=UnlikeTask&parameters[]=$1					 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^GET$
RewriteRule		^tasks/favorite$  	 	 	 	 	 	 	 	index.php?controller=Task&action=GetFavoriteTasks  	 	 	 	 	 	 	 	 	 	[L,QSA]

#	Tasklist

RewriteCond		%{REQUEST_METHOD} 	^GET$
RewriteRule		^tasklists/([0-9a-z]+)$ 	 	 			 	index.php?controller=Tasklist&action=Index&parameters[]=$1					 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^PUT$
RewriteRule		^tasklists/([0-9a-z]+)$ 	 	 			 	index.php?controller=Tasklist&action=Change&parameters[]=$1					 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^DELETE$
RewriteRule		^tasklists/([0-9a-z]+)$ 	 	 			 	index.php?controller=Tasklist&action=Delete&parameters[]=$1					 	 	 	[L]

RewriteCond		%{REQUEST_METHOD} 	^GET$
RewriteRule		^tasklists/([0-9a-z]+)/tasks/([0-9a-z]+)/stats$ index.php?controller=Tasklist&action=GetTaskStat&parameters[]=$1&parameters[]=$2	 	[L]

#   Hiçbiri Çalışmadıysa 404 Error Page
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /404.php [QSA,L]
